@tailwind base;
@tailwind components;
@tailwind utilities;




.hero-img{
  background-image: url("../public/hero-bg.png");
  background-size: cover;
}
.container-snap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
